@font-face {
    font-family: Love;
    src: url("../fonts/Love.ttf");
}

img {
    /* background-color: rgb(223, 172, 106); */
    display:        block;
    margin-left:    auto;
    margin-right:   auto;
    width:          360px;
}

.index-headline {
    padding: 2%;
    background-color: rgb(223, 172, 106);
    color:white;
    text-align:     center;
    font-family:    "Love", sans-serif;
}

.landing-image  {
    margin: auto;
    background-color: rgb(223, 172, 106)
}

.index-link {
    color:  white;
    font-family:    "Love", sans-serif
}

/* contains all navigable links */
.index-navigate  {
    text-align:     center;
    background-color: rgb(223, 172, 106);
    padding:8%;
}

/* rounded edges + empty space for a sort-of "button" look of recipes */
.index-navigate .rounded  {
    border-radius:  25px;
    padding:        10px;
}

.index-navigate .cupcakes    {
    background-color: rgb(114, 183, 223);
}

.index-navigate .cookies    {
    background-color: rgb(224, 148, 33);
}

.index-navigate .limepie    {
    background-color: rgb(60, 255, 0);
}